body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navb {
  overflow: hidden;
  background-color:green;
  position: relative;
  display: inline-block;
}

.navb button {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color:green;
  font-size: 17px;
  border: transparent;
}

.navb button:hover {
  background-color:green;
  color: yellow;
}
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: green;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: green;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 10%
}

.dropdownContent a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navb a:hover {background-color: green;}

.show {display: block;}