table, th, td {
  border: 1px solid black;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input.adr{
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}