table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 300px;
  border: 1px solid #ddd;
  box-sizing: border-box;
   border: 1px solid black;
}

th{
    text-align: left;
    padding: 16px;
    background-color: gainsboro;
    margin: 20px; 
    border: 1px solid black;

} 
td {
  text-align: left;
  padding: 16px;
   border: 1px solid black;
}

tr:nth-child(even) {
  background-color:greenyellow;
}